@inherits LayoutComponentBase

<PageTitle>Đăng nhập tài khoản</PageTitle>

<div style="background-color: white; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="login-container" style="width: 100%; max-width: 400px; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        @Body
    </div>
</div>

@code {

}
