@page "/"

@inject ProductService _svc

<PageTitle>Home</PageTitle>

<div class="container mt-3">

    <h3>Sản phẩm đặc biệt</h3>

    <div class="row row-cols-1 row-cols-md-4 g-4">

        @foreach (var product in products)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        }

    </div>

</div>

@code {
    private List<Product> products = new List<Product>();

    private string? searchText;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task PopulateData()
    {
        var response = await _svc.GetList(1, 25, searchText);

        if (response is not null)
        {
            products = response.Data;
        }
    }
}
