@page "/"

@inject ProductService _pro
@inject CartService _cart

<PageTitle>Home</PageTitle>

<div class="container mt-3">

    <h3>Sản phẩm đặc biệt</h3>

    <div class="row g-4">

        @if (products is not null)
        {
            @foreach (var product in products)
            {
                var p = product;

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                        </div>

                        <div class="container px-0">
                            <div class="d-flex justify-content-between align-items-center p-3">
                                <button type="button" class="btn btn-sm btn-primary" @onclick="() => AddToCart(p)">Thêm vào giỏ</button>
                                <span>@product.Price đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>

</div>

@code {
    private List<Product> products = new List<Product>();

    private string? searchText;

    protected override async Task OnInitializedAsync()
    {
        await PopulateProduct();
    }

    private async Task PopulateProduct()
    {
        var response = await _pro.GetList();

        if (response is not null)
        {
            products = response.Data;
        }
    }
}

@code {
    private async Task AddToCart(Product product)
    {
        await _cart.AddToCartAsync(product);
    }
}
