<div class="me-sm-3 mb-2 mb-sm-0">
    <form action="/search" method="get">
        <div class="input-group">

            <input type="text" class="form-control" placeholder="Tìm kiếm ở cửa hàng" name="q">
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>

        </div>
    </form>
</div>

@code {
    private string? searchText;


}
