@inherits LayoutComponentBase
@inject AuthenticationStateProvider _auth

<div class="page container-fluid">
    <AuthorizeView>
        <Authorized>
            @if (IsAdminOrAccount)
            {
                <div class="page container-fluid">
                    <header class="container py-3">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
                            <div class="container-fluid justify-content-between">
                                <div class="d-flex gap-3">
                                    <NavLink href="/" class="nav-link fw-bold" activeClass="active" Match="NavLinkMatch.All">
                                        🏪 Dashboard
                                    </NavLink>
                                    <div class="sidebar">
                                        <ul class="d-flex gap-3 m-0 list-unstyled align-items-center">
                                            <li>
                                                <NavLink href="/categories/manage" class="nav-link" activeClass="active">
                                                    📂 Loại hàng
                                                </NavLink>
                                            </li>
                                            <li>
                                                <NavLink href="/products/manage" class="nav-link" activeClass="active">
                                                    📦 Sản phẩm
                                                </NavLink>
                                            </li>
                                            <li>
                                                <NavLink href="/orders/manage" class="nav-link" activeClass="active">
                                                    📑 Đơn hàng
                                                </NavLink>
                                            </li>
                                            <li>
                                                <NavLink href="/accounts/manage" class="nav-link" activeClass="active">
                                                    👥 Tài khoản
                                                </NavLink>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <NavLink href="/user/account" class="nav-link" activeClass="active">
                                        👤 Tài khoản
                                    </NavLink>
                                </div>
                            </div>
                        </nav>
                    </header>

                    <main class="container my-4">
                        @Body
                    </main>
                </div>
            }
            else
            {
                <div class="page container-fluid">
                    <header class="container py-3">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
                            <div class="container-fluid justify-content-between">
                                <div class="d-flex gap-3">
                                    <NavLink href="/" class="nav-link fw-bold" activeClass="active" Match="NavLinkMatch.All">
                                        🏪 Dashboard
                                    </NavLink>
                                </div>
                                <div>
                                    <NavLink href="/user/account" class="nav-link" activeClass="active">
                                        👤 Tài khoản
                                    </NavLink>
                                </div>
                            </div>
                        </nav>
                    </header>

                    <main class="container my-4">
                        @Body
                    </main>
                </div>
            }
        </Authorized>
    </AuthorizeView>
</div>


@code {
    private bool IsAdminOrAccount = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _auth.GetAuthenticationStateAsync();
        var user = authState.User;

        // Check if the user has the "admin" or "account" role
        IsAdminOrAccount = user.IsInRole("Admin") || user.IsInRole("Moderator");
    }
}
