<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.StoreLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.NotFound)">
            <p>Xin lỗi chúng tôi không thể tìm thấy trang bạn yêu cầu.</p>
        </LayoutView>
    </NotFound>
</Router>
