@page "/categories"

@inject CategoryService service
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Category</h3>

@if (categories == null)
{
    <p>Đang tải dữ liệu ...</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="4">
                    <div>
                        <button class="btn" @onclick="NavigateToAdd">+ Tạo mới ..</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Tên</th>
                <th>Nội dung</th>
                <th>Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (categories != null && categories.Any())
            {
                @foreach (Category category in categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>@category.Active</td>
                        <td>
                            <button class="btn btn-sm btn-info" @onclick="() => NavigateToEdit(category.CategoryId)">Sửa</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Không có danh sách tồn tại.</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
    }

    private async Task LoadCategories()
    {
        var result = await service.GetListCategories();

        if (result != null)
            categories = result.Data;
        else
            categories = null;
    }

    private void NavigateToAdd()
    {
        NavigationManager.NavigateTo("/categories/create");
    }

    private void NavigateToEdit(int id)
    {
        NavigationManager.NavigateTo($"/categories/edit/{id}");
    }
}